<section class="skillset">
  <div class="aside">
      <h2>Skillset</h2>
  </div>
  <div class="main">
      <div class="main-skills">
          <div class="html progress" role="progressbar" tabindex="0" aria-valuenow="96" aria-valuemin="0" aria-valuetext="96 percent" aria-valuemax="100">
              <div class="progress-meter" style="width: 96%"></div>
              <span class="percentage"> 96%</span>
              <span class="skill">Html</span>
          </div>
          <div class="css progress" role="progressbar" tabindex="0" aria-valuenow="96" aria-valuemin="0" aria-valuetext="96 percent" aria-valuemax="100">
              <div class="progress-meter" style="width: 96%"></div>
              <span class="percentage"> 96%</span>
              <span class="skill">SASS</span>
          </div>
          <div class="javascript progress" role="progressbar" tabindex="0" aria-valuenow="76" aria-valuemin="0" aria-valuetext="76 percent" aria-valuemax="100">
              <div class="progress-meter" style="width: 76%"></div>
              <span class="percentage"> 76%</span>
              <span class="skill">Javascript</span>
          </div>
      </div>
      <div class="more-skills">
          <div class="photoshop progress" role="progressbar" tabindex="0" aria-valuenow="96" aria-valuemin="0" aria-valuetext="96 percent" aria-valuemax="100">
              <div class="progress-meter" style="width: 96%"></div>
              <span class="percentage"> 96%</span>
              <span class="skill">Photoshop & Sketch</span>
          </div>
          <div class="angular progress" role="progressbar" tabindex="0" aria-valuenow="96" aria-valuemin="0" aria-valuetext="96 percent" aria-valuemax="100">
              <div class="progress-meter" style="width: 96%"></div>
              <span class="percentage"> 96%</span>
              <span class="skill">Angular.js</span>
          </div>
      </div>
      <button class="show-more-skills">Show more skills</button>
  </div>
</section>