<section class="about">
  <div class="aside">
      <h2>{{ heading }}</h2>
  </div>
  <div class="main">
      <div class="intro">
          <p>{{ introText }}</p>
      </div>
      <div class="achivements">
          <div class="circle">
              <div class="round-border">
                  <div class="center">
                      <span>4</span>
                  </div>
              </div>
              <div class="headings">
                  <h3>years</h3>
                  <h4>experience</h4>
              </div>
          </div>
          <div class="circle">
              <div class="round-border">
                  <div class="center">
                      <span>4</span>
                  </div>
              </div>
              <div class="headings">
                  <h3>years</h3>
                  <h4>university</h4>
              </div>
          </div>
          <div class="circle">
              <div class="round-border">
                  <div class="center two-digits">
                      <span>35</span>
                  </div>
              </div>
              <div class="headings">
                  <h3>projects</h3>
                  <h4>and counting</h4>
              </div>
          </div>
          <div class="circle">
              <div class="round-border">
                  <div class="center three-digits">
                      <span>400</span>
                  </div>
              </div>
              <div class="headings">
                  <h3>online</h3>
                  <h4>courses</h4>
              </div>
          </div>
      </div>
  </div>
</section>