<section class="work">
  <div class="aside">
      <h2>Work</h2>
  </div>
  <div class="main">
    <div class="work-item animation-element slide-left">
      <h2>eFocus</h2>
      <div class="line"></div>
      <div class="row">
          <h3>Front-end developer</h3>
          <span class="date">June 2015 - June 2016</span>
      </div>
      <p>Front end work for websites based on Sitecore, Adobe Experience Manager, EpiServer. Building user friendly interfaces with HTML5 and Sass.</p>
    </div>
    <div class="work-item animation-element slide-left">
      <h2>DC-websolutions</h2>
      <div class="line"></div>
      <div class="row">
          <h3>Front-end developer</h3>
          <span class="date">March 2013 - June 2015</span>
      </div>
      <p>Building websites based on Wordpress. Creating HTML5 templates from PSD's, client education and training, support and maintenance of sites.</p>
    </div>
    <div class="work-item animation-element slide-left">
      <h2>JR web design</h2>
      <div class="line"></div>
      <div class="row">
          <h3>Front-end developer</h3>
          <span class="date">February 2009 - August 2011</span>
      </div>
      <p>As a freelancer creating HTML5 templates from PSD's, making web designs, graphics in Photoshop and Illustrator.</p>
    </div>
  </div>
</section>