<section class="education">
  <div class="aside">
    <h2>Education</h2>
  </div>
  <div class="main">
    <div class="edu-item">
      <h2>Web developer</h2>
      <div class="line"></div>
      <div class="row">
          <h4>Teknikhodskolan, Malmo, Sweden</h4>
          <span class="date">2011 - 2014</span>
      </div>
      <p>Full stack web development including HTML5, CSS3, Sass/Less, JavaScript, jQuery, jQuery UI, php, MEAN stack applicaties, Agile & Scrum.</p>
    </div>
  </div>
</section>