<section class="projects">
  <div class="aside">
      <h2>Marktplaats</h2>
      <h3>Front end templates</h3>
      <p>Several templates for Marktplaats using Foundation 5, Sass, jQuery, Isotope.</p>
      <span class="url">www.marktplaats.nl</span>
  </div>
  <div class="main">
      <div class="container">
          <img src="assets/img/dkvm.png" alt="de kracht van marktplaats">
      </div>
  </div>
</section>
<section class="projects">
    <div class="aside">
        <h2>Heineken</h2>
        <h3>Front end</h3>
        <p>Several templates for Heineken using Foundation 6, Sass and jQuery.</p>
        <span class="url">www.heineken.nl</span>
    </div>
    <div class="main">
        <div class="container">
            <img src="assets/img/heineken.jpg" alt="heineken">
        </div>
    </div>
</section>
<section class="projects">
    <div class="aside">
        <h2>LOI</h2>
        <h3>Front end</h3>
        <p>Several templates for LOI using Bootstrap, jQuery.</p>
        <span class="url">www.loi.nl</span>
    </div>
    <div class="main">
        <div class="container">
            <img src="assets/img/loi.jpg" alt="loi">
        </div>
    </div>
</section>
<section class="projects">
    <div class="aside">
        <h2>Hoerberatung</h2>
        <h3>Front end templates</h3>
        <p>Front end of a website based on Adobe Experience Manager.</p>
        <span class="url">www.hoerberatung.at</span>
    </div>
    <div class="main">
        <div class="container">
            <img src="assets/img/hor.png" alt="Hoerbetarung">
        </div>
    </div>
</section>